---
title: Termine
subtitle: Amazing Aces Braunschweig
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p <strong>ACHTUNG:</strong> Seit November 2023 haben wir den Stammtisch an einen neuen Ort verlegt.

p
    a href="webcal://amazing-aces-bs.de/events.ics" -> Unsere Veranstaltungen als Kalender (iCal) abonnieren

- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)

p Der Stammtisch findet aktuell regelmäßig <strong>am zweiten Donnerstag des Monats ab 19 Uhr</strong> im Jugendzentrum Mühle (An der Neustadtmühle 3, 38100 Braunschweig) statt. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 

p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach. Außerdem könnt ihr unseren Kalender abonnieren, dort werden Änderungen auch automatisch veröffentlicht. Und wenn ihr ein paar Tage vorher per e-mail an die Termine erinnert werden wollt, sagt uns Bescheid - dann setzen wir euch auf die Liste.

p Wenn ihr euch außerhalb der Stammtische mit anderen Menschen im asexuellen Spektrum unterhalten wollt, meldet euch gerne z.B. in unserer <a href='/signal/'>Signal-Gruppe</a> an (Schreibt uns dazu einfach eine <a href='/kontakt/'>E-mail</a>, um den Zugangslink zu bekommen).

p Für online-Austausch mit der Ace/Aro-Community im ganzen deutschsprachigen Raum gibt es außerdem die <a href='https://aspecgerman.de/'>Aspec*German</a>-Community auf <i>Discord</i> - dort finden auch regelmäßige Stammtische im Voicechat statt und es gibt Textchatkanäle zu verschiedenen Themen.
