$spacing: 1.5em;

@font-face {
    font-family: "Noticia";
    src: url("/assets/fonts/NoticiaText-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Noticia";
    src: url("/assets/fonts/NoticiaText-Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
    font-family: "Noticia";
    src: url("/assets/fonts/NoticiaText-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
    font-family: "Noticia";
    src: url("/assets/fonts/NoticiaText-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
	text-decoration: underline;
}

body {
    margin: 0 auto;
    padding: $spacing;
    max-width: 54em;
    font-family: "Noticia", serif;
    line-height: 1.6em;
    overflow-y: scroll;
}

#sidebar{
    float: left;
    width: 12em;
}
#navimg{
	width: 10em;
	padding: 1em;
	position: fixed;
	margin-top: 2em;
    margin-right: auto;
    margin-left: 1em;
    img {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
        height: 9em;
        transition: transform 0.4s ease-in-out;
    }
    img:hover {
    	transform: scale(1.1);
    }
}
#nav {
	padding: 1em;
	width: 12em;
    margin-top: 12em;
	margin-bottom: 2em;
    position: fixed;
    text-align: right;
	font-family: "OpenSans", sans-serif;
    > a {
        padding-left: 0.3em;
    }
    ul {
        margin-top: 0em;
        font-size: 1.1em;
        font-weight: bold;
    }
    li {
        list-style-type: none;
        transition: all 0.2s ease;
		padding: 0.1em 0.3em;
        a {
            display: inline;
        }
        a:hover {
			text-decoration: none;
        }
    }
}

#content {
	padding-top: 0em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
    margin-bottom: 2*$spacing;
    margin-top: 2em;
    max-width: 36em;
	width: 100%;
    float: right;
    p.up {
		text-align: right;
	}
    p, ul, ol, pre, hr, dl {
        margin-bottom: 1em;
		margin-top: 1em;
    }
    h1, h2, h3, h4 {
        line-height: 1;
		font-family: "OpenSans", sans-serif;
    }
    h2, h3, h4 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    li, pre {
        margin-left: 2em;
    }
    li {
        margin-bottom: 0.5em;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    pre {
        font-size: 0.75em;
        white-space: pre-wrap;
    }
    blockquote {
        margin-right: 1em;
        border-left: 0.3em solid;
        padding-left: 1em;
        small {
            font-style: italic;
        }
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 1em;
    }
    .underline {
        text-decoration: underline;
    }
    hr {
        border: none;
        text-align: center;
    }
    hr:after {
        content: "...";
        letter-spacing: 0.6em;
    }
    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
	img.book { 
		width: 30%;
		float: left;
		padding: 0.8em;
		padding-left: 0.1em;
		padding-top: 0.6em;
	}

	img.portrait-float-right { 
		width: 30%;
		float: right;
		padding: 0.8em;
		padding-right:0.1em;
		padding-top: 0.1em;
	}
	img.portrait-float-left { 
		width: 30%;
		float: left;
		padding: 0.8em;
		padding-left: 0.1em;
		padding-top: 0.1em;
	}
    iframe {
        margin: 1em 0;
		max-width: 100%;
    }
    h1 {
        font-size: 2.2em;
        letter-spacing: -0.03em;

        a {
            color: inherit;
        }
    }
    h2 {
        font-size: 1.5em;
    }
    th {
        text-align: left;
        padding-right: 1em;
    }
    td {
        vertical-align: top;
        font-size: 80%;
        padding-right: 1em;
    }
    table {
        margin-bottom: 1em;
    }
    .subtitle {
		font-family: "OpenSans", sans-serif;
        font-style: italic;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
    .meta {
        font-size: 0.8em;
        margin-bottom: $spacing/0.8;
    }
    #logotitle {
        font-size: 4em;
        font-weight: bold;
        letter-spacing: -0.02em;
        line-height: 1.3em;
        text-align: left;
    }
    #logosubtitle {
        font-size: 1.6em;
        line-height: 1.2em;
        text-align: left;
    }
    #search {
      clear: both;
      margin-bottom: 1em;
      #filter-search {
          padding: 0.4em;
          font-size: 1.2em;
		  font-family: "Noticia", serif;
      }
      #filter-clear {
          font-size: 1.5em;
          vertical-align: middle;
		  padding-bottom: 0.3em;
      }
    }
    .boxes {
        margin: -0.75em;
        padding-top: 1.75em;
        padding-bottom: 2.75em;
        overflow: auto;
        transition: all 0.2s ease;
    }
    .box {
        position: relative;
        float: left;
        width: 11em;
        height: 11em;
        border-radius: 0.5em;
        margin: 0.75em;
        overflow: hidden;
        transition: all 0.2s ease;
		a:hover {
			text-decoration: none;
		}
        > a > img {
            width: 100%;
            height: 9em;
            object-fit: cover;
            object-position: 50% 50%;
        }
		.eventlink {
			width: 8em;
			height: 8em;
			padding-top: 0.5em;
			text-align: center;
			font-size: 1.4em;
            font-family: "OpenSans", sans-serif;
			font-weight: bold;
			line-height: 1.4em;

		}
        .info {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0.5em;
            h2 {
                font-size: 1.0em;
                font-family: "OpenSans", sans-serif;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.4em;
            }
            h3 {
                font-size: 0.8em;
                font-family: "Noticia", serif;
                font-weight: normal;
                margin-top: 0.6em;
                margin-bottom: 0;
                font-style: italic;
            }
            .meta {
                font-size: 0.8em;
                line-height: 100%;
                height: auto;
                margin-top: 0.6em;
                margin-bottom: 0.6em;
                transition: all 0.2s ease;
                position: relative;
                top: 0.6em;
            }
            .gallerymeta {
                display: none
            }
        }
        > a {
            height: 100%;
        }
    }
    .flag {
        height: 0.6em;
        width: auto;
        display: inline;
    }
}

#about {
    font-size: 0.8em;
    padding-top: 0.5em;
}

@media screen and (max-width: 56em) {

    #sidebar{
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #navimg {
        position: relative;
        float: none;
        max-width: 36em;
		margin-bottom: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #nav {
        position: relative;
        float: none;
        max-width: 36em;
		margin-top: 2em;
		margin-bottom: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        li {
            display: inline;
        }
    }
    #content {
        float: none;
        margin-left: auto;
        margin-right: auto;
		padding-top: 2em;
	}
}

@media screen and (max-width: 400px) {	
	#nav {
		li {
			display: list-item;
		}
	}
	#content {
		#intro {
        	img {
            	float: none;
				padding-bottom: 1.5em;
            	padding-right: 0em;
        	}
    	}
		img.book { 
			width: 90%;
			display: inline;
			float: none;
			padding: 0.1em;
		}
        img.portrait-float-right { 
            width: 90%;
            display: inline;
            float: none;
            padding: 0.1em;
        }
        img.portrait-float-left { 
            width: 90%;
            display: inline;
            float: none;
            padding: 0.1em;
        }
	}
}

@media screen and (pointer: coarse) {
	#content {
		line-height: 1.8em;
		#intro {
			line-height: 1.8em;
		}
	}
}
