$offblack: #3a4145;
$offwhite: #cccccc;
$light_grey: #9c9c9c;
$old_grey: #222222;
$grey: #251125;
$linkcolor: #c432c2;
$tagcolor: #555;
$dark_purple: #210020;

a {
    color: $linkcolor;
}

a:hover {
    color: $offwhite;
}

body {
    color: $light_grey;
	background: $grey;
    strong {
        color: $offwhite;
    }
}

#nav {
    color: $offwhite;
    li {
        a {
            color: inherit;
        }
        a:hover {
            background: linear-gradient(to right, $grey, $linkcolor);
        }
    }
    li.current a {
		color: $linkcolor;
		background: none;
    }
}

#content {
    h1, h2, h3, h4 {
        color: $offwhite;
    }
    blockquote {
        border-left-color: $linkcolor;
    }
    h1 {
        a {
            color: inherit;
        }
    }
    .meta {
        color: $tagcolor;
        a {
            color: inherit;
        }
        a:hover {
            color: $light_grey;
        }
    }
    #logotitle {
        color: $linkcolor;
    }
    #logosubtitle {
        color: $linkcolor;
    }
    #search {
        #filter-search {
            background: $grey;
            color: $light_grey;
            border-color: $light_grey;
            border-style: solid;
            border-width: thin;
        }
    }
    .box:hover {
        box-shadow: 2px 2px 10px 0px rgba(251, 127, 255, 0.9);
    }
    .box {
        box-shadow: 2px 2px 10px 0px rgba(255,255,255,0.5);
		.eventlink {
			background: linear-gradient(to right, $offwhite, $linkcolor);
			color: $grey;
		}
        .info {
            box-shadow: 2px 2px 10px 0px rgba(255,255,255,0.5);
            background: $grey;
            h2 {
                color: $offwhite;
            }
            h3 {
                color: $light_grey;
            }
            .meta {
                color: $offwhite;
            }
        }
    }
    .spoiler {
        background: $light_grey;
    }
}
