$offblack: #3a4145;
$grey: #222;
$linkcolor: #940b92;
$tagcolor: #555;

a {
    color: $linkcolor;
}

a:hover {
    color: $grey;
}

body {
    color: $offblack;
	background: white;
    strong {
        color: $offblack;
    }
}

#nav {
    color: $grey;
    li {
        a {
            color: inherit;
        }
        a:hover {
            background: linear-gradient(to right, #ffffff, $linkcolor);
        }
    }
    li.current a {
		color: $linkcolor;
		background: none;
    }
}

#content {
    h1, h2, h3, h4 {
        color: $grey;
    }
    blockquote {
        border-left-color: $linkcolor;
    }
    h1 {
        a {
            color: inherit;
        }
    }
    .meta {
        color: $tagcolor;
        a {
            color: inherit;
        }
        a:hover {
            color: $offblack;
        }
    }
    #logotitle {
        color: $linkcolor;
    }
    #logosubtitle {
        color: $linkcolor;
    }
    #search {
        #filter-search {
            background: white;
            color: $offblack;
            border-color: $offblack;
            border-style: solid;
            border-width: thin;
        }
    }
    .box:hover {
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.8);
    }
    .box {
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
		.eventlink {
			background: linear-gradient(to right, #ffffff, $linkcolor);
			color: $grey;
		}
        .info {
            box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
            background: #ffffff;
            h2 {
                color: $offblack;
            }
            h3 {
                color: $tagcolor;
            }
            .meta {
                color: $offblack;
            }
        }
    }
    .spoiler {
        background: $offblack;
    }
}
