doctype html
html lang=lang_for(@item)
  head
    meta charset="utf-8"
    title
      - if @item.path != "/" and @item[:title]
        = @item[:title]+" - Amazing Aces Braunschweig"
      - else
        | Amazing Aces - Braunschweiger Stammtisch für Menschen im asexuellen Spektrum

    meta name="author" content="Amazing Aces Braunschweig"

    - if @item[:published]
      meta name="date" content=@item[:published].strftime("%Y-%m-%d")

    meta name="description" content=abstract_for(@item)

    meta name="twitter:card" content="summary_large_image"
    meta name="twitter:title" content=@item[:title]
    meta name="twitter:description" content=abstract_for(@item)
    meta name="twitter:image" content=domain[0..-2]+thumbnail_for(@item)

    meta property="og:title" content=@item[:title]
    meta property="og:type" content="website"
    meta property="og:url" content=domain[0..-2]+@item.path
    meta property="og:image" content=domain[0..-2]+thumbnail_for(@item)
    meta property="og:description" content=abstract_for(@item)

    - if @item[:noindex]
      meta name="robots" content="noindex"

    meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"
    

    link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png"
    link rel="manifest" href="/assets/favicons/site.webmanifest"
    link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#940b92"
    link rel="shortcut icon" href="/assets/favicons/favicon.ico"
    meta name="msapplication-TileColor" content="#9f00a7"
    meta name="msapplication-config" content="/assets/favicons/browserconfig.xml"

    meta name="theme-color" content="#940b92" media="(prefers-color-scheme: dark)"
    meta name="theme-color" content="#ffffff" media="not (prefers-color-scheme: dark)"

    link rel="stylesheet" href="/assets/style.css" type="text/css"
    link rel="stylesheet" href="/assets/style_dark.css" type="text/css" media="(prefers-color-scheme: dark)"
    link rel="stylesheet" href="/assets/style_light.css" type="text/css" media="not (prefers-color-scheme: dark)" 
    link rel="alternate stylesheet" href="/assets/style_dark.css" type="text/css" title="dark"
    link rel="alternate stylesheet" href="/assets/style_light.css" type="text/css" title="light"

    - if ["/blog/"].include? @item.path
      script src="https://code.jquery.com/jquery-3.1.1.min.js"
      script src="/assets/filter.js"

  body

   #sidebar 
      #navimg
		a href="/"
          img src="/assets/images/amazing-aces-logo.svg" alt="Logo"
		<br>
	  #nav
		- menuitems = [["das-asexuelle-spektrum"],["faq"],["termine"],["blog"],["kontakt"],["spenden"],["netzwerk"]]
		- for group in menuitems
			ul
				- for menustring in group
					- menuitem = @items["/"+menustring+"/index.*"]
					li class=("current" if @item.path == menuitem.path)
						a href=("/"+menustring+"/") ==menutext_for(menuitem)

   #content
      - unless @item[:headless]
        h1= @item[:title]
        - unless @item[:nometa]
            - if @item[:subtitle]
                .subtitle= @item[:subtitle]
            .meta
                - if @item[:published]
                  => @item[:published].strftime("%d.%m.%Y")
                - else
                  | unpublished 
                - if @item[:updated]
                  ' (zuletzt aktualisiert: #{@item[:updated].strftime("%d.%m.%Y")})
                - if @item[:tags]
                  | /
                  ==< tags_for(@item)

                    
      == yield
      
      - if @item[:eventdate] && (@item[:eventdate].year > 2023 or (@item[:eventdate].year == 2023 and @item[:eventdate].month >= 10))
        hr
        p
          a href="event.ics" -> Diese Veranstaltung als Kalender-Eintrag (iCal) exportieren
        p
          a href="webcal://amazing-aces-bs.de#{@item.path}event.ics" -> Diese Veranstaltung als Kalender abonnieren
        p
          a href="webcal://amazing-aces-bs.de/events.ics" -> Alle Veranstaltungen als Kalender abonnieren  
        h2 Fragen?
        p
          | Wenn du Fragen zu dieser Veranstaltung hast, kannst du uns gerne 
          a href="/kontakt/" kontaktieren
          | . 
